<div class="row">
    <div class="col">
        <h2>The list of TV Shows are:</h2>
        <ul>
            {{#if hasShows}}
                {{#each tvShow}}
                    <li><a href="/app/{{this.tvid}}">{{this.name}}</a></li>
                {{/each}}
                <div class="row justify-content-md-center">
                    <form method="GET" action="/search">
                        <button type="submit" name="btnPressed" value="prev">Prev</button>
                        <button type="submit" name="btnPressed" value="next">Next</button>
                        <input type="hidden" name="offset" value="{{offset}}">
                    </form>
                </div>
            {{else}}
                <li>No shows were found!</li>
            {{/if}}
        </ul>
    </div>
</div>